<!DOCTYPE html>
<html>
  <head>
    <!-- Enter your title of the page -->
    <title>404 - Page not found</title>

    <!-- Link the CSS posted below to this page, change the href -->

    <!--  Enter your website icon -->
    <link rel="icon" href="YOUR_WEBSITE_ICON_LINK" />

    <!-- This one is very important, don't skip this part! -->
    <base href="" />
    <!-- Enter your website URL here -->

    <!-- Just some important metas, you can ignore these -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- If you want to learn more about them then visit https://www.w3schools.com/tags/tag_meta.asp -->
  </head>
  <body>
    <main>
      <h1>404 - Page not found!</h1>
      <a href="/">Click here to go back home</a>
    </main>
  </body>
</html>
